@using mvcMovie.ViewModels
@* @model mvcMovie.ViewModels.TaiKhoanView *@
@model TaiKhoanSaveModel

@{
    ViewData["Title"] = "Create";
}
@section body_scripts
{
    @Html.Partial("_LeftMenu.cshtml")
}
@section above_scripts
{
    @Html.Partial("_AboveMenu.cshtml")
}
@* @{
    var Kh = new KhachHangView();
} *@

<div class="card-body">
   
  @if(ViewBag.Success != null)
    {
        <span class="text-success">@ViewBag.Success</span>
    }
<div class="card-body">
    <h3>Tài Khoản</h3>
    <div class="col-md-4">
        <form asp-action="ThemTaiKhoanData" asp-controller="TaiKhoan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="exampleInputEmail1" class="control-label">Tên</label>
                <input asp-for="Ten" class="form-control" id="exampleInputPassword1" placeholder="Nhập tên" />
                <span asp-validation-for="Ten" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label for="exampleInputPassword1" class="control-label">Địa chỉ</label>
                <input asp-for="DiaChi" class="form-control" id="exampleInputPassword1" placeholder="Nhập địa chỉ" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1" class="control-label">Điện thoại</label>
                <input asp-for="DienThoai" class="form-control" id="exampleInputPassword1" placeholder="Nhập số điện thoại" />
                <span asp-validation-for="DienThoai" class="text-danger"></span>
            </div>


           @* Thêm Tài Khoản  *@

            <div class="form-group">
                <label for="exampleInputEmail1" class="control-label">Username</label>
                <input asp-for="Username" class="form-control" id="exampleInputEmail1" placeholder="Nhập tên tài khoản" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="Nhập mật khẩu" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label for="exampleInputPassword1" class="control-label">Quyền</label>
                <input asp-for="Quyen" class="form-control" id="exampleInputPassword1" placeholder="Nhập Quyền" />
                <span asp-validation-for="Quyen" class="text-danger"></span>
            </div>

             <div>
                <button type="submit" class="btn btn-primary">Thêm</button>
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
